DISCORD_TOKEN=ton_token_discord_ici
DISCORD_CHANNEL_ID=1466419634633969696
MENTION_ROLE_ID=1466422195088654470
POLL_INTERVAL_MS=45000
RISK_SCORE_THRESHOLD=60
CHAINS=ethereum,bsc,polygon,arbitrum,base,optimism,avalanche,fantom
SEND_MOCK_ON_START=true
SOURCE_MODE=profiles_then_boosts
# DEXSCREENER_BASE=https://api.dexscreener.com
# HONEYPOT_BASE=https://api.honeypot.is
# LOG_LEVEL=info
